@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

.section {
  padding: 0 2rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #111111;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.header .container .logo,
.header .container .main-nav {
  display: inline-block;
}
.header .container .main-nav .nav-item {
  display: none;
}
.header .container .main-nav .nav-burger {
  color: #999999;
  font-size: 1.5rem;
  padding-top: 0.5rem;
}

.hero.section {
  padding-right: 0;
}

.hero .container {
  display: grid;
  grid-template-columns: 61% auto;
  gap: 1rem;
}
.hero .container .text {
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}
.hero .container .text .subtitle {
  color: #ff3998;
  font-size: 1rem;
  font-weight: 700;
  line-height: 0.95;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.hero .container .text .title {
  color: #111111;
  font-size: 3rem;
  font-weight: 900;
  line-height: 58px;
  margin: 24px 0;
}
.hero .container .text p {
  padding-right: 2px;
}
.hero .container .bg-img {
  background-image: url(/img/graphic.svg);
  background-repeat: no-repeat;
  background-position: -110px -55px;
  background-size: auto 100%;
}
.hero .container .btn {
  display: inline-block;
  width: 188px;
  height: 75px;
  border: 5px solid red;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.upsell {
  padding-top: 7.625rem;
  padding-bottom: 2rem;
  background-image: linear-gradient(to right, #ff7d76, #d3cca2);
}
.upsell .title {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: .upsell .title dark-1;
  padding-bottom: 1rem;
}

.press {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 3.3rem;
  padding-bottom: 2.6rem;
}
.press .img {
  color: #999999;
  padding: 0.9rem 0;
}

.showcase .title {
  padding-bottom: 1rem;
  color: #111111;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.showcase .subtitle {
  padding-bottom: 2.5rem;
  color: #555555;
}
.showcase .cards-container {
  display: flex;
  justify-content: space-between;
}
.showcase .cards-container .card {
  background-color: #eeeeee;
  border-radius: 20px;
}
.showcase .cards-container .card .text {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
.showcase .cards-container .card .text .text1 {
  text-align: left;
}
.showcase .cards-container .card .text .text1 h4 {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ff8139;
}
.showcase .cards-container .card .text .text1 h3 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #111111;
  padding-top: 12px;
  padding-bottom: 12px;
}
.showcase .cards-container .card .text .text1 p {
  font-size: 18px;
  color: #777777;
}
.showcase .cards-container .card .text .text2 {
  text-align: right;
}
.showcase .cards-container .card .text .text2 h4 {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #777777;
}
.showcase .cards-container .card .text .text2 h3 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #111111;
  padding-top: 12px;
  padding-bottom: 12px;
}
.showcase .cards-container .card .text .text2 p {
  font-size: 18px;
  color: #777777;
}
.showcase .cards-container .card2,
.showcase .cards-container .card3,
.showcase .cards-container .card4 {
  display: none;
}

@media screen and (min-width: 768px) {
  .section {
    margin: 0 5rem;
  }

  .header .container {
    margin-top: 70px;
  }
  .header .container .main-nav {
    display: flex;
    justify-content: space-between;
    width: 367px;
  }
  .header .container .main-nav .nav-item {
    display: inline-block;
    font-size: 1.25rem;
    padding-top: 0.5rem;
    color: #555555;
  }
  .header .container .main-nav .sign {
    color: #ff3998;
  }
  .header .container .main-nav .nav-burger {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */