@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #111111;
}

.r-subtitle {
  color: #ff3998;
  font-size: 16px;
  font-weight: 700;
  line-height: 0.95;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  width: 188px;
  height: 75px;
  border: 5px solid red;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin: 32px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  padding: 32px 32px 42px;
}
.header .container .logo,
.header .container .main-nav {
  display: inline-block;
}
.header .container .main-nav .nav-item {
  display: none;
}
.header .container .main-nav .nav-burger {
  color: #999999;
  font-size: 24px;
  padding-top: 8px;
}

.hero .container {
  position: relative;
  overflow: hidden;
}
.hero .container .text {
  padding: 42px 0px 80px 32px;
  width: 72%;
  max-width: 572px;
}
.hero .container .text .title {
  color: #111111;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  margin: 24px 0;
}
.hero .container .text p {
  padding-right: 2px;
}
.hero .container .bg-img {
  position: absolute;
  top: -9%;
  left: 48%;
  width: 100%;
  max-width: 700px;
}

.upsell .container {
  padding: 122px 32px 32px;
  background-image: url(/img/background.svg);
  background-size: cover;
  background-position: center;
}
.upsell .container .title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  color: .upsell .container .title dark-1;
  padding-bottom: 16px;
}

.press .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 64px 28px 56px;
}
.press .container .img {
  color: #999999;
  padding: 16px 0;
  position: relative;
}
.press .container .boom {
  display: block;
  position: absolute;
  background-color: #ffffff;
  width: 68px;
  height: 60px;
  left: 34%;
  z-index: 1;
}

.showcase .container {
  padding-left: 32px;
  padding-bottom: 92px;
}
.showcase .container .title {
  padding-bottom: 16px;
  color: #111111;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
}
.showcase .container .subtitle {
  padding-bottom: 40px;
  color: #555555;
}
.showcase .container .subtitle a {
  border-bottom: 2px solid #555555;
}
.showcase .container .cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  overflow: auto;
}
.showcase .container .cards-container .card {
  width: 290px;
  background-color: #eeeeee;
  border-radius: 20px;
}
.showcase .container .cards-container .card .text {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
.showcase .container .cards-container .card .text .text1 {
  text-align: left;
}
.showcase .container .cards-container .card .text .text1 h4 {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ff8139;
}
.showcase .container .cards-container .card .text .text1 h3 {
  font-size: 20px;
  font-weight: 500;
  color: #111111;
  padding-top: 12px;
  padding-bottom: 12px;
}
.showcase .container .cards-container .card .text .text1 p {
  font-size: 18px;
  color: #777777;
}
.showcase .container .cards-container .card .text .text2 {
  text-align: right;
}
.showcase .container .cards-container .card .text .text2 h4 {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #777777;
}
.showcase .container .cards-container .card .text .text2 h3 {
  font-size: 20px;
  font-weight: 500;
  color: #111111;
  padding-top: 12px;
  padding-bottom: 12px;
  background: url(/img/eth.svg);
  background-repeat: no-repeat;
  padding-left: 24px;
  background-position: 0 13px;
}
.showcase .container .cards-container .card .text .text2 p {
  font-size: 18px;
  color: #777777;
}

.footer-upsell .container {
  border-top: 2px solid #eeeeee;
  padding: 64px 32px 34px;
  position: relative;
  overflow: hidden;
}
.footer-upsell .container .text {
  width: 57%;
  max-width: 570px;
}
.footer-upsell .container .text .title {
  color: #111111;
  font-size: 56px;
  font-weight: 900;
  line-height: 68px;
  margin: 24px 0;
}
.footer-upsell .container .text p {
  padding-right: 2px;
}
.footer-upsell .container .bg-img {
  position: absolute;
  bottom: 0;
  left: 60%;
  width: 100%;
  max-width: 200px;
}

.footer .container {
  border-top: 2px solid #eeeeee;
  padding: 64px 32px;
}
.footer .container .top .left h2 {
  padding: 30px 0 32px;
  font-size: 20px;
  font-weight: 400;
}
.footer .container .top .left .icon {
  color: #999999;
  margin-right: 16px;
}
.footer .container .top .right {
  padding: 64px 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer .container .top .right .card {
  padding-bottom: 40px;
}
.footer .container .top .right .card h2 {
  padding-bottom: 28px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
.footer .container .top .right .card h3 {
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.footer .container .bottom .copyright P {
  padding-bottom: 56px;
  color: #999999;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}
.footer .container .bottom .copyright .right {
  display: none;
}

@media screen and (min-width: 1280px) {
  .header .container {
    padding: 70px 32px 182px;
  }
  .header .container .main-nav {
    display: flex;
    justify-content: space-between;
    width: 367px;
  }
  .header .container .main-nav .nav-item {
    display: inline-block;
    font-size: 20px;
    padding-top: 8px;
    color: #555555;
  }
  .header .container .main-nav .sign {
    color: #ff3998;
  }
  .header .container .main-nav .nav-burger {
    display: none;
  }
}
@media screen and (min-width: 1344px) {
  .header .container {
    padding: 70px 0 182px;
  }
}
@media screen and (min-width: 710px) {
  .hero .container .text .title {
    font-size: 76px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1280px) {
  .hero .container .text .title {
    font-size: 96px;
    line-height: 116px;
  }
}
@media screen and (min-width: 1344px) {
  .hero .container .text {
    padding-left: 0;
  }
}
@media screen and (min-width: 446px) {
  .press .container .boom {
    display: none;
  }
}
@media screen and (min-width: 710px) {
  .press .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a b c" ". d .";
  }
  .press .container .item1 {
    grid-area: a;
  }
  .press .container .item2 {
    grid-area: b;
  }
  .press .container .item3 {
    grid-area: c;
  }
  .press .container .item4 {
    grid-area: d;
    padding-top: 24px;
  }
}
@media screen and (min-width: 1000px) {
  .press .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "a b c d";
  }
}
@media screen and (min-width: 1280px) {
  .press .container {
    padding: 120px 32px;
  }
}
@media screen and (min-width: 1344px) {
  .press .container {
    padding: 120px 0;
  }
}
@media screen and (min-width: 1280px) {
  .showcase .container {
    padding-bottom: 120px;
    padding-left: 0;
  }
  .showcase .container .title,
.showcase .container .subtitle {
    padding-left: 32px;
  }
}
@media screen and (min-width: 1344px) {
  .showcase .container .title,
.showcase .container .subtitle {
    padding-left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer-upsell .container {
    padding: 120px 32px;
  }
}
@media screen and (min-width: 1344px) {
  .footer-upsell .container {
    padding: 120px 0;
  }
}
@media screen and (min-width: 850px) {
  .footer .container .top {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .footer .container .top .right {
    grid-template-columns: repeat(4, 1fr);
    padding-top: 0;
  }
  .footer .container .bottom .copyright {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding-top: 104px;
  }
  .footer .container .bottom .copyright .right {
    display: inline-block;
    text-align: right;
  }
}
@media screen and (min-width: 1280px) {
  .footer .container {
    padding: 120px 32px 71px;
  }
  .footer .container .top {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer .container .top .right {
    grid-template-columns: repeat(4, 1fr);
    padding-top: 0;
  }
  .footer .container .bottom .copyright {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding-top: 104px;
  }
  .footer .container .bottom .copyright .right {
    display: inline-block;
    text-align: right;
  }
}
@media screen and (min-width: 1344px) {
  .footer .container {
    padding: 120px 0 71px;
  }
}/*# sourceMappingURL=main.css.map */