// Font-awesom
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

// Inter font
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

body {
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}
