.header .container {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;

    .logo,
    .main-nav {
        display: inline-block;
    }

    .main-nav {
        .nav-item {
            display: none;
        }

        .nav-burger {
            color: $dark-4;
            font-size: 1.5rem;
            padding-top: 0.5rem;
        }
    }
}
