.press {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 3.3rem;
    padding-bottom: 2.6rem;

    .img {
        color: $dark-4;
        padding: 0.9rem 0;
    }
}
