.showcase {
    .title {
        padding-bottom: 1rem;
        color: $dark-1;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.2;
    }

    .subtitle {
        padding-bottom: 2.5rem;
        color: $dark-2;
    }

    .cards-container {
        display: flex;
        justify-content: space-between;

        .card {
            background-color: #eeeeee;
            border-radius: 20px;

            .text {
                display: flex;
                justify-content: space-between;
                padding: 24px;

                .text1 {
                    text-align: left;

                    h4 {
                        font-size: 12px;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: #ff8139;
                    }

                    h3 {
                        font-size: 1.25rem;
                        font-weight: 500;
                        color: $dark-1;
                        padding-top: 12px;
                        padding-bottom: 12px;
                    }

                    p {
                        font-size: 18px;
                        color: $dark-3;
                    }
                }

                .text2 {
                    text-align: right;

                    h4 {
                        font-size: 12px;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: $dark-3;
                    }

                    h3 {
                        font-size: 1.25rem;
                        font-weight: 500;
                        color: $dark-1;
                        padding-top: 12px;
                        padding-bottom: 12px;
                    }

                    p {
                        font-size: 18px;
                        color: $dark-3;
                    }
                }
            }
        }

        .card2,
        .card3,
        .card4 {
            display: none;
        }
    }
}
