.upsell {
    padding-top: 7.625rem;
    padding-bottom: 2rem;
    background-image: linear-gradient(to right, #ff7d76, #d3cca2);

    .title {
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.2;
        color: &dark-1;
        padding-bottom: 1rem;
    }
}
