.footer .container {
    border-top: 2px solid #eeeeee;
    padding: 64px 32px;

    .top {
        .left {
            h2 {
                padding: 30px 0 32px;
                font-size: 20px;
                font-weight: 400;
            }

            .icon {
                color: $dark-4;
                margin-right: 16px;
            }
        }

        .right {
            padding: 64px 32px;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .card {
                padding-bottom: 40px;

                h2 {
                    padding-bottom: 28px;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 19px;
                }

                h3 {
                    padding-bottom: 16px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                }
            }
        }
    }

    .bottom {
        .copyright {
            P {
                padding-bottom: 56px;
                color: $dark-4;
                font-size: 20px;
                font-weight: 400;
                text-align: left;
            }

            .right {
                display: none;
            }
        }
    }
}
