.header .container {
    display: flex;
    justify-content: space-between;
    padding: 32px 32px 42px;

    .logo,
    .main-nav {
        display: inline-block;
    }

    .main-nav {
        .nav-item {
            display: none;
        }

        .nav-burger {
            color: $dark-4;
            font-size: 24px;
            padding-top: 8px;
        }
    }
}
