.showcase .container {
    padding-left: 32px;
    padding-bottom: 92px;

    .title {
        padding-bottom: 16px;
        color: $dark-1;
        font-size: 40px;
        font-weight: 500;
        line-height: 1.2;
    }

    .subtitle {
        padding-bottom: 40px;
        color: $dark-2;

        a {
            border-bottom: 2px solid $dark-2;
        }
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        overflow: auto;

        .card {
            width: 290px;
            background-color: #eeeeee;
            border-radius: 20px;

            .text {
                display: flex;
                justify-content: space-between;
                padding: 24px;

                .text1 {
                    text-align: left;

                    h4 {
                        font-size: 12px;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: #ff8139;
                    }

                    h3 {
                        font-size: 20px;
                        font-weight: 500;
                        color: $dark-1;
                        padding-top: 12px;
                        padding-bottom: 12px;
                    }

                    p {
                        font-size: 18px;
                        color: $dark-3;
                    }
                }

                .text2 {
                    text-align: right;

                    h4 {
                        font-size: 12px;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: $dark-3;
                    }

                    h3 {
                        font-size: 20px;
                        font-weight: 500;
                        color: $dark-1;
                        padding-top: 12px;
                        padding-bottom: 12px;

                        background: url(/img/eth.svg);
                        background-repeat: no-repeat;
                        padding-left: 24px;
                        background-position: 0 13px;
                    }

                    p {
                        font-size: 18px;
                        color: $dark-3;
                    }
                }
            }
        }
    }
}
