.upsell .container {
    padding: 122px 32px 32px;
    background-image: url(/img/background.svg);
    background-size: cover;
    background-position: center;

    .title {
        font-size: 40px;
        font-weight: 500;
        line-height: 1.2;
        color: &dark-1;
        padding-bottom: 16px;
    }
}
