@media screen and (min-width: 1280px) {
    .footer-upsell .container {
        padding: 120px 32px;
    }
}

@media screen and (min-width: 1344px) {
    .footer-upsell .container {
        padding: 120px 0;
    }
}
