@media screen and (min-width: 1280px) {
    .showcase .container {
        padding-bottom: 120px;
        padding-left: 0;

        .title,
        .subtitle {
            padding-left: 32px;
        }
    }
}

@media screen and (min-width: 1344px) {
    .showcase .container {
        .title,
        .subtitle {
            padding-left: 0;
        }
    }
}
